$color-primary-cta: rgb(21, 112, 239);
$color-total-returned: rgb(132, 94, 188);
$color-total-products: rgb(219, 163, 98);
$color-total-instock: rgb(16, 183, 106);
$color-total-outofstock: rgb(240, 68, 56);
$color-border: rgb(240, 241, 243);
$color-heading: rgb(56, 62, 73);
$color-sub-heading: rgb(93, 102, 121);
$color-body: rgb(133, 141, 157);

$color-white: #fff;

@mixin contaier($container: Center) {
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  @include contaier;

  &__box {
    padding: 5rem;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.6rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &-logo {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      align-items: center;
    }

    &-title {
      font-weight: 700;
      color: $color-heading;
    }
  }
}
