@use "sass:meta";
@use "sass:string";

@mixin container($container: Center) {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

@mixin btn($btn: Button) {
  width: 100%;
  padding: 1rem 1.8rem;
  background-color: var(--color-primary-cta);
  color: var(--color-white);
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
