.container {
  @include container;
}

.header {
  font-size: 1.4rem;
  background-color: $color-white;
  height: 7rem;
  width: 100%;
  border-bottom: 1px solid var(--gray-200);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: $color-white;
  flex: 0 0 18%;
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  background-color: $color-white;
  flex: 1;
  background-color: var(--gray-100);
  padding: 2rem;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  // TODO: Remove this hight

  & > * {
    background-color: $color-white;
    border-radius: 0.3rem;
    padding: 2rem;
  }

  & > *:nth-child(odd) {
    flex: 1 0 60%;
  }
  & > *:nth-child(even) {
    flex: 1 0 27%;
  }
}

.logo {
  width: 3rem;
  height: 3rem;
}
