.container {
  @include container;
}

.header {
  font-size: 1.4rem;
  background-color: $color-white;
  height: 7rem;
  width: 100%;
  border-bottom: 1px solid var(--gray-200);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--gray-50);
  flex: 0 0 18%;
}

.main {
  background-color: $color-white;
  flex: 1;
  background-color: lightcyan;
}

.logo {
  width: 3rem;
  height: 3rem;
}
